<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="app"/>
    <springProperty scope="context" name="environment" source="spring.profiles.active" defaultValue="default"/>

    <springProfile name="local,testing">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{100}) %yellow([%X]) : %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework" level="INFO"/>
        <logger name="ru.prohor.universe" level="TRACE"/>
    </springProfile>

    <springProfile name="stable,canary">
        <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${UNIVERSE_WORKSPACE}/scarif/logs/${appName}-${environment}.json</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>
                    ${UNIVERSE_WORKSPACE}/scarif/logs/${appName}-${environment}.%d{yyyy-MM-dd}.%i.json.gz
                </fileNamePattern>

                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>

            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeContext>false</includeContext>
                <fieldNames>
                    <levelValue>[ignore]</levelValue>
                    <version>[ignore]</version>
                </fieldNames>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="JSON_FILE"/>
        </root>
        <logger name="org.springframework" level="INFO"/>
        <logger name="ru.prohor.universe" level="TRACE"/>
    </springProfile>
</configuration>
